/* Style the left section (2/3 width) */
.left-section {
    flex: 2;
    background-image: url(assets/nanaimo-map.png);
    background-repeat: repeat-x;
    border-image: linear-gradient(to right, transparent, #bcc39f) 1;
}

/* Style the right section (1/3 width) */
.right-section {
    padding: 1rem;
    flex: 1; /* Take up 1/3 of the available space */
}

#a {
    margin-left: 47rem;
    margin-top: 52rem;
    background-color: red;
    width: 2%;
    border-radius: 50px;
}

#a:hover {
    border: solid 2px #000000;
}
