body {
    font-family: Arial, sans-serif;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background-color: lightblue;
    padding: 1rem;
    border: black 1px solid;
}

.form-group label {
    display: inline-block;
    width: 180px;
}

.form-inline {
    display: flex;
    align-items: flex-start;
}

.form-inline input[type="radio"],
.form-inline input[type="checkbox"] {
    margin-right: 8px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mandatory {
    color: red;
}

.form-inline.event-label {
    margin-bottom: -1.5rem;
}

.radio-block {
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 35%;
    border: 1px solid black;;
}

textarea {
    width: 35%
}

.form-inline select {
    display: inline-block;
    flex: 0 1 auto;
    width: 2.8rem;
}

.label-to-right {
    text-align: right;
    margin-right: .8rem;
}

.button-style {
    background-color: white;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #767676 black black #767676;
    padding: 0.125rem 2.75rem;
    font-size: 1rem;
}

.button-style:hover {
    background-color: #f0f0f0;
}
